<h1>Messages#show</h1>
<p>Find me in app/views/messages/show.html.erb</p>

<p>From: <%= @message.from_name %> (<%= @message.from_email %>)</p>
<p>Subject: <%= @message.subject %></p>
<p>Preview:</p>
<%= raw @message.content %>
